.header__grid.u-centered 
   .cube__wrapper
      +cube
   .header__banner
      h1.heading--1.header__heading &#8592; best gift 
      p.header__paragraph "Creativity is just connecting things"
         span steve jobs
      button.btn.header__btn(type="submit") buy now
.slideShow 

