nav.nav.u-flex-center
   i.fab.fa-apple.nav__icon
   ul.nav__list   
      li.nav__item   
         a.nav__link(href="#section1") iphone 12
         a.nav__link(href="#section2") macbook air
         a.nav__link(href="#section3") watch 
         a.nav__link(href="#section4") airpods
         