h2.heading--2.section4__heading AirPods
.section4__airpods.u-centered
   img.section4__img(srcset="assets/images/AirPods/airpods-1-sm.png 600w, assets/images/AirPods/airpods-1.png 1000w" sizes="(max-width: 56.25em) 45vw, (max-width: 37.5em) 90vw, 864px" src="assets/images/AirPods/airpods-1.png", alt="Airpods")
   img.section4__img(srcset="assets/images/AirPods/airpods-2-sm.png 600w, assets/images/AirPods/airpods-2.png 1000w" sizes="(max-width: 56.25em) 45vw, (max-width: 37.5em) 90vw, 864px" src="assets/images/AirPods/airpods-2.png", alt="Airpods")
   .section4__buttons.u-centered
      button.btn.section4__btn Learn More
      button.btn.section4__btn Buy
