h2.heading--2.section2__heading Macbook Air
.section2__images 
   img.section2__img(srcset="assets/images/MacBook/macbook-screen-sm.png 600w, assets/images/MacBook/macbook-screen.png 1100w" sizes="(max-width: 56.25em) 80vw, (max-width: 37.5em) 83vw, 1536px" src="assets/images/MacBook/macbook-screen.png", alt="Macbook screen")
   img.section2__img(srcset="assets/images/MacBook/macbook-keyboard-sm.png 600vw, assets/images/MacBook/macbook-keyboard.png 1100w" sizes="(max-width: 56.25em) 80vw, (max-width: 37.5em) 83vw, 1536px" src="assets/images/MacBook/macbook-keyboard.png", alt="Macbook keyboard")
   .section2__loadingWrapper 
      .section2__loading
         i.fab.fa-apple.section2__loadingIcon
         .section2__loadingBar
   .section2__info
      h3.section2__infoHeading Light, Speed 
      p.section2__price Starting at $999
      button.btn.section2__btn Buy Now