h2.heading--2.section1__heading iPhone 12
.section1__images
   img.section1__img(srcset="assets/images/iPhones/iphones-1-img-sm.png 600vw, assets/images/iPhones/iphones-1-img.png 1000w" sizes="(max-width: 56.25em) 28vw, (max-width: 37.5em) 44vw, 395px" src="assets/images/iPhones/iphones-1-img.png", alt="Iphone 12")
   img.section1__img(srcset="assets/images/iPhones/iphones-2-img-sm.png 400vw, assets/images/iPhones/iphones-2-img.png 660vw" sizes="(max-width: 56.25em) 17vw, (max-width: 37.5em) 44vw, 432px" src="assets/images/iPhones/iphones-2-img.png", alt="Iphone 12")
.section1__buttons
   a.section1__btn(href="#section1") 
      span learn More
   a.section1__btn(href="#section1") 
      span Shop

