:root {
   // colors
   --c-primary: #6edae6;
   --c-white: #fff;
   --c-black: #000;
   // general
   --transition-f: all 200ms ease-in-out;
   --transition-s: all 800ms ease-in-out;
   --transition: all 300ms ease-in-out;
   --border: 2px solid red;
}
