-let watchbands = ['watch-band-1.jpg','watch-band-2.jpg','watch-band-3.jpg','watch-band-4.jpg','watch-band-5.jpg', 'watch-band-6.jpg', 'watch-band-7.jpg', 'watch-band-8.jpg', 'watch-band-9.jpg',];
-let watchcases = ['watch-case-1.png', 'watch-case-2.png','watch-case-3.png','watch-case-4.png', 'watch-case-5.png', 'watch-case-6.png', 'watch-case-7.png', 'watch-case-8.png', 'watch-case-9.png'];
-let footerIcons = [{id: 'header', img: 'home-icon'}, {id: 'section1',img:'iphone -icon'},{id: 'section2', img:'macbook-icon'},{id: 'section3', img:'watch-icon'},{id: 'section4',img:'airpods-icon'}];