extends ../templates/template
block home
   header#header.header
      include ../blocks/header
   main
      article
         section#section1.section1
            include ../blocks/section1
         section#section2.section2
            include ../blocks/section2
         section#section3.section3.u-flex-center
            include ../blocks/section3
         section#section4.section4
            include ../blocks/section4